body{
    background-image: url(map.png);
    height: 100%;
    width: 100%;
}

#tooltip1{
    top: 10%;
}

#tooltip2{
    top: 10%;
    right: 0%;
}

#tooltip3{
    bottom: 13%;
    left: 20%;
}

.tooltip{
    position: absolute;
    background-color: none;
    height: 20%;
    width: 17%;
    z-index: 10 ;
    text-align: center;
    font-size: 2em;
    font-weight: 1000;
    opacity: 0;
}
